.container-fluid {
    padding: 100px 0;
    background: url("../../assets/images/BackgroundCard.png") no-repeat;
    
    background-size: cover;
}
.our-departments-wrap {
    padding: 60px 80px 80px;
    background: -moz-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50,200,250,1)), color-stop(100%, rgba(188,125,228,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a3eb', endColorstr='#18a3eb',GradientType=1 ); /* ie6-9 */
}

@media screen and (max-width: 768px){
    .our-departments-wrap {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.our-departments-wrap h2 {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.our-departments-cont {
    margin-bottom: 64px;
}

.our-departments-cont .entry-header {
    min-height: 48px;
}

.our-departments-cont .entry-header img {
    margin-right: 16px;
}

.our-departments-cont h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.our-departments-cont .entry-content {
    margin-top: 16px;
}

.our-departments-cont .entry-content p {
    font-size: 14px;
    color: #fff;
}

.our-departments-cont .entry-footer a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}