<div class="container-fluid container-with-background">
  <section class="container">
    <div class="row h-100">
      <div
        class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start mt-5"
      >
        <div class="display-2 text-light" style="font-weight: 500;">
          The Best <br />
          Medical Services
        </div>
        <div>
          <p class="text-dark mt-4 block">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
            non sint. Vel corporis neque ducimus nostrum officia saepe officiis
            rerum! Fuga iure fugiat corporis sapiente blanditiis non quam animi
            rem.
          </p>
        </div>
        <div class="button">
          <button class="wpcf7-form-control wpcf7-submit">Read More</button>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div
          class="card border-primary"
          style="border: 3px solid; border-radius: 20px;"
        >
          <div class="card-title">
            <h4>Opening Hours</h4>
          </div>
          <div class="card-body">
            <ul class="p-0 m-0 text-dark">
              <li>Monday - Thursday <span>8.00 - 19.00</span></li>
              <li>Friday <span>8.00 - 18.30</span></li>
              <li>Saturday <span>9.30 - 17.00</span></li>
              <li>Sunday <span>9.30 - 15.00</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card " style="border-color: lightslategray; border-top-right-radius: 30px ; border-bottom-left-radius: 30px;">
          <div class="card-title">
            <h3>Emergency</h3>
          </div>
          <div class="card-body text-center">
            <button class="wpcf7-form-control wpcf7-submit"
             >
              <i class="bi-telephone-fill"></i>
              +34 586 778 8892
            </button>
            <div><p class="text-dark mt-3" style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quidem inventore neque error? Quam necessitatibus tempora nam totam, modi atque debitis autem illum quis vel officiis assumenda doloribus incidunt ipsa?</p></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-title">Opening Hours</div>
          <div class="card-body">
            <ul>
              <li>Monday - Thursday <span>8.00 - 19.00</span></li>
              <li>Friday <span>8.00 - 18.30</span></li>
              <li>Saturday <span>9.30 - 17.00</span></li>
              <li>Sunday <span>9.30 - 15.00</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
</div>
