<div class="container-fluid container-with-background">
  <section class="container">
    <div class="row h-100">
      <div
        class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start mt-5"
      >
        <div class="display-2 text-light" style="font-weight: 500;">
          The Best <br />
          Medical Services
        </div>
        <div>
          <p class="text-dark mt-4 block lh-md">
            CureWell HealthCare Limited – an IHH Healthcare Berhad Company – is a leading integrated healthcare services provider in Australia. It is one of the largest healthcare organizations in the country with 28 healthcare facilities, 4,500+ operational beds (including O&M facilities). It draws strength from its partnership with global major and parent company - IHH, to build upon its culture of world-class patient care and superlative clinical excellence. CureWell employs motr than ~23,000 people.
          </p>
        </div>
        <div class="button">
          <button class="wpcf7-form-control wpcf7-submit">Read More</button>
        </div>
      </div>
    </div>
  </section>


  
</div>
