.the-news {
    padding: 100px 0 40px;
}

.the-news h2 {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #404040;
}


.the-news-wrap {
    margin-bottom: 60px;
}

.the-news-wrap figure {
    margin: 0;
}

.the-news-wrap figure img {
    width: 100%;
}

.the-news-wrap h3 {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #404040;
}

.the-news .post-metas {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #828282;
}

.the-news .post-metas > div {
    margin-right: 16px;
}

.the-news .post-metas label {
    margin: 0;
    color: #18a3eb;
}

.the-news .post-metas a {
    color: #828282;
}

.the-news-wrap .entry-content {
    margin-top: 32px;
}

.the-news-wrap .entry-content p {
    font-size: 14px;
    line-height: 2;
    color: #828282;
}