<div class="the-news">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">The News</h2>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="the-news-wrap">
              <figure class="post-thumbnail">
                <a href="#"
                  ><img src="../../assets/images/news-1.png.webp" alt=""
                /></a>
              </figure>
              <header class="entry-header">
                <h3>The latest in Medicine</h3>
                <div class="post-metas d-flex flex-wrap align-items-center">
                  <div class="posted-date">
                    <label>Date: </label><a href="#">April 12, 2018</a>
                  </div>
                  <div class="posted-by">
                    <label>By: </label><a href="#">Dr. Jake Williams</a>
                  </div>
                  <div class="post-comments"><a href="#">2 Comments</a></div>
                </div>
              </header>
              <div class="entry-content">
                <p>
                  Scientists regenerate neurons that restore walking in mice
                  after paralysis from spinal cord injury Guiding cells to <br>
                  natural target region key to functional recovery
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="the-news-wrap">
              <figure class="post-thumbnail">
                <a href="#"
                  ><img src="../../assets/images/news-2.png.webp" alt=""
                /></a>
              </figure>
              <header class="entry-header">
                <h3>All you need to know about pills</h3>
                <div class="post-metas d-flex flex-wrap align-items-center">
                  <div class="posted-date">
                    <label>Date: </label><a href="#">April 12, 2018</a>
                  </div>
                  <div class="posted-by">
                    <label>By: </label><a href="#">Dr. Jake Williams</a>
                  </div>
                  <div class="post-comments"><a href="#">2 Comments</a></div>
                </div>
              </header>
              <div class="entry-content">
                <p>
                  An existing blood cancer drug has shown promise in killing 'silent' HIV cells and delaying reinfections -- a significant pre-clinical discovery that could lead to a future cure for the disease.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="the-news-wrap">
              <figure class="post-thumbnail">
                <a href="#"
                  ><img src="../../assets/images/news-3.png.webp" alt=""
                /></a>
              </figure>
              <header class="entry-header">
                <h3>Marketing and Medicine</h3>
                <div class="post-metas d-flex flex-wrap align-items-center">
                  <div class="posted-date">
                    <label>Date: </label><a href="#">April 12, 2018</a>
                  </div>
                  <div class="posted-by">
                    <label>By: </label><a href="#">Dr. Jake Williams</a>
                  </div>
                  <div class="post-comments"><a href="#">2 Comments</a></div>
                </div>
              </header>
              <div class="entry-content">
                <p>
                  The Austrailian pharmaceutical sector contracted for the first time in 11 months, snapping two straight months of double-digit growth. Industry sales fell 1% over April last year when the market had contracted 4.8%.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center display-5 my-5">The News</div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="../../assets/images/news-1.png.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">The latest in Medicine</h5>
              <div class="post-metas d-flex flex-wrap align-items-center">
                <div class="posted-date ">
                  <label>Date: </label><a href="#">April 12, 2018</a>
                </div>
                <div class="posted-by">
                  <label>By: </label><a href="#">Dr. Jake Williams</a>
                </div>
                <div class="post-comments"><a href="#">2 Comments</a></div>
              </div>
            
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/images/news-2.png.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/images/news-3.png.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div> -->
