<!-- <footer class="footer">
  <div class="container-fluid p-2 bg-primary" style="margin-top: 200px">
    <div class="container" style="color: white">
      <div class="row">
        <div class="col" style="display: flex; justify-content: space-around">
          <div class="mt-4">
            <div>
              <img
                src="../../assets/images/MicrosoftTeams-image__5_-removebg-preview.png"
                width="200px"
                alt=""
              />
            </div>
            <div class="mb-1">
              <span>
                <a href="" class="text-reset">
                  <i class="bi-geo-alt-fill" style="color: black"></i>
                </a>
              </span>
              <span class="p-3">
                Plot No. - ABC123 R.K Puram, New Delhi, Pincode - 12100XX
              </span>
            </div>
            <div>
              <span
                ><i class="bi-telephone-fill" style="color: black"></i
              ></span>
              <span class="p-3"> Mobile no. - 7060489193 </span>
            </div>
          </div>
          <div class="mt-4 mb-4">
            <h4>Complaints / Feedback</h4>
            <div class="py-3">
              <span class="display-7"
                >Have any complaints or suggestions?<br />
                Just tell us. We are here to help you with <br />
                everything.</span
              >
            </div>
            <div>
              <a href="#" style="text-decoration: none; color: brown"
                >Share your Feedback</a
              >
            </div>
          </div>
          <div class="mt-4">
            <h4>Stay Connected</h4>
            <div>
              <a href="#" style="text-decoration: none; color: brown"
                >Contact Us</a
              >
            </div>
            <div>
              <span class=""
                ><a href="" class="text-reset">
                  <i class="bi bi-facebook" style="color: black"></i>
                </a>
              </span>
              <span class="p-3"
                ><a href="" class="m-2 text-reset">
                  <i class="bi bi-youtube" style="color: black"></i>
                </a>
              </span>
              <span class=""
                ><a href="" class="m-2 text-reset">
                  <i class="bi bi-instagram" style="color: black"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div
          class="container"
          style="display: flex; justify-content: space-between"
        >
          <div>Copyright &copy; CureWell</div>
          <div class="footer-content">
            <span>Privacy Policy</span>
            <span class="p-3">Terms of Use</span>
            <span>Cookie Policy</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<!-- <div class="container">

  <footer class="text-center bg-light">
  
      <div>
  
              <a href="" class="m-2 text-reset btn btn-outline-light btn-floating">
  
                <i class="bi bi-facebook"></i>
  
              </a>
  
              <a href="" class="m-2 text-reset btn btn-outline-light btn-floating ">
  
                <i class="bi bi-twitter"></i>
  
              </a>
  
              <a href="" class="m-4 text-reset btn btn-outline-light btn-floating ">
  
                <i class="bi bi-google"></i>
  
              </a>
  
              <a href="" class="m-2 text-reset btn btn-outline-light btn-floating ">
  
                <i class="bi bi-instagram"></i>
  
              </a>
  
              <a href="" class="m-2 text-reset btn btn-outline-light btn-floating ">
  
                <i class="bi bi-linkedin"></i>
  
              </a>
  
              <a href="" class="m-2 text-reset btn btn-outline-light btn-floating ">
  
                <i class="bi bi-github"></i>
  
              </a>
  
              </div>
  
              <div class="mb-3">
  
                  Get connected with us on social networks and get updates about your Favorite products
  
              </div>
  
  </footer>
  
  </div> -->
<!-- <footer class="footer">
  <div class="container-fluid p-2 bg-primary" style="margin-top: 20px">
    <div class="container text-white">
      <div class="row justify-content-center">
        

        <div class=" col-12 col-md-4 col-sm-12 mb-4 text-center">
          <div class="mt-4">
            <div>
              <img
                src="../../assets/images/MicrosoftTeams-image__5_-removebg-preview.png"
                width="50%"
                alt=""
              />
            </div>
            <div class="mt-2">
              <span><i class="bi-geo-alt-fill"></i></span>
              <span class="ml-2"
                >Plot No. - ABC123 R.K Puram, New Delhi, Pincode - 12100XX</span
              >
            </div>
            <div>
              <span><i class="bi-telephone-fill"></i></span>
              <span class="ml-2">Mobile no. - 122-113214</span>
            </div>
          </div>
        </div>

        
        <div class="col-md-4 col-sm-12 mb-4 text-center">
          <div class="mt-4">
            <h4>Complaints / Feedback</h4>
            <div class="mt-2">
              <span class="display-7"
                >Have any complaints or suggestions?<br />Just tell us. We are
                here to help you with everything.</span
              >
            </div>
            <div class="mt-2">
              <a href="#" style="text-decoration: none; color: brown"
                >Share your Feedback</a
              >
            </div>
          </div>
        </div>

       
        <div class="col-md-4 col-sm-12 mb-4 text-center">
          <div class="mt-4">
            <h4>Stay Connected</h4>
            <div class="mt-2">
              <a href="#" style="text-decoration: none; color: brown"
                >Contact Us</a
              >
            </div>
            <div class="mt-2">
              <span class="text-reset"
                ><a href=""><i class="bi bi-facebook"></i></a
              ></span>
              <span class="text-reset ml-2"
                ><a href=""><i class="bi bi-youtube"></i></a
              ></span>
              <span class="text-reset ml-2"
                ><a href=""><i class="bi bi-instagram"></i></a
              ></span>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="container text-center">
          <div class="mb-2">Copyright &copy; CureWell</div>
          <div class="footer-content">
            <span>Privacy Policy</span>
            <span class="ml-2">Terms of Use</span>
            <span class="ml-2">Cookie Policy</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<footer class="site-footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row" style="margin-left: 80px;margin-right: 80px;">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="foot-about">
            <h2>
              <a href="#"><img src="../../../assets/images/logo.png" style="height: 80px;width: 200px;" alt="" /></a>
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              malesuada lorem maximus mauris scelerisque,  at rutrum nulla <br>
              dictum. Ut ac ligula sapien.
            </p>
            <p class="copyright">
              Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              2023 All rights reserved
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
          <div class="foot-contact">
            <h2>Contact</h2>
            <ul class="p-0 m-0">
              <li><span>Addtress:</span>Canady Str. 26-27 Sydney Australia</li>
              <li><span>Phone:</span>+45 345 7953 32453</li>
              <li><span>Email:</span>cureWell@gmail.org</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
          <div class="foot-links">
            <h2>Usefull Links</h2>
            <ul class="p-0 m-0">
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Departments</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
            <div class="contact mt-3" style="margin-left: -10px;">
              <span><a href=""><i class="bi bi-facebook"></i></a></span>
              <span><a href=""><i class="bi bi-instagram"></i></a></span>
              <span><a href=""><i class="bi bi-youtube"></i></a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
