<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']" [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="router-link-active"><img src="../../assets/images/Logo.png" width="200px" alt=""
        class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['']" routerLinkActive="router-link-active"
            data-ol-has-click-handler="">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['ViewDoctor']" routerLinkActive="router-link-active">View Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['Specialization']" routerLinkActive="router-link-active">View
            Specialisation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['TodaySurgery']" routerLinkActive="router-link-active">View Today's
            surgery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['AddingDoctor']" routerLinkActive="router-link-active">Add Doctor</a>
        </li>
      </ul>
      <div class="navbar-btns">
        <button type="button" class="btn btn-secondary call">
          <i class="bi bi-telephone"></i> +91 7060489193
        </button>
        <button type="button" class="btn btn-secondary loginbtn">Login/SignUp</button>
      </div>
    </div>
  </div>
</nav>