<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" ><img src="../../assets/images/MicrosoftTeams-image__5_-removebg-preview.png" width="200px" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#" data-ol-has-click-handler="">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >View Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">View Specialisation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" y
            >View Today's surgery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add Doctor</a>
          </li>
        </ul>
        <div class="d-flex justify">
          <!-- <button class="button-gradient">
            <span><i class="bi-telephone-fill"></i></span>
            <span class="text-light">+34 586 778 8892</span>
          </button> -->
          <div class="button" style="margin-right: 20px;">
            <button class="wpcf7-form-control wpcf7-submit p-2" >
              <i class="bi-telephone-fill"></i>
              <a href="tel:+129-3345355454" style="text-decoration: none; color: white;" >+129-3345355454</a>
            </button>
          </div>
          <div class="button">
            <button class=" wpcf7-form-control btn2wpcf7-submit">Login / SignUp</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
