<div class="container" style="margin: 2%;margin-bottom: 12%;">
    <form align="center" style="position : relative;margin-top: 20%; margin-left:38%;">
      <h2 style="text-align:center">Update Doctor</h2>
      <table align="center">
        <tr>
          <th align="justify"> <label>Doctor Id</label> </th>
          <th>
            <input type="text" name="doctorId" [(ngModel)]="id" class="form-control qkinput" readonly>
          </th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <th align="justify"> <label>Doctor Name</label> </th>
          <th>
            <input type="text" class="form-control qkinput" [(ngModel)]="name" name="doctorname" required >

          </th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <th></th>
          <th>
            <div class="form-group" style="text-align:left">
              <button type="submit" class="btn btn-primary" (click)="updateDoctor(name)">Update</button>
              <button class="btn btn-primary" style="margin: 2%;" routerLink="/ViewDoctor">Cancel</button>
            </div>
          </th>
        </tr>
      </table>
    </form>
</div>

