<div class="container-fluid">
  <section class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div
          class="card border-primary"
          style="border: 3px solid; border-radius: 20px"
        >
          <div class="card-title">
            <h4>Opening Hours</h4>
          </div>
          <div class="card-body">
            <ul class="p-0 m-0 text-dark">
              <li>Monday - Thursday <span>8.00 - 19.00</span></li>
              <li>Friday <span>8.00 - 18.30</span></li>
              <li>Saturday <span>9.30 - 17.00</span></li>
              <li>Sunday <span>9.30 - 15.00</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card"
          style="
            border: 3px solid lightslategray;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            height: 255px;
          "
        >
          <div class="card-title">
            <h3>Emergency</h3>
          </div>
          <div class="card-body text-center">
            <button class="wpcf7-form-control wpcf7-submit">
              <i class="bi-telephone-fill"></i>
              <a
                href="tel:+129-3345355454"
                style="text-decoration: none; color: white"
                >+129-3345355454</a
              >
            </button>
            <div>
              <p class="text-dark mt-3" style="text-align: center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem quidem inventore neque error? Quam necessitatibus
                tempora nam totam,
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="appointment-box card">
          <h2 class="d-flex align-items-center">Make an Appointment</h2>
          <form class="d-flex flex-wrap justify-content-between">
            <select class="select-department">
              <option value="value1">Select Department</option>
              <option value="value2">Select Department 1</option>
              <option value="value3">Select Department 2</option>
            </select>
            <select class="select-doctor">
              <option>Select Doctor</option>
              <option>Select Doctor 1</option>
              <option>Select Doctor 2</option>
            </select>
            <input type="text" placeholder="Name" />
            <input type="number" placeholder="Phone No" />
            <input
              class="button gradient-bg"
              type="submit"
              value="Boom Appointment"
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
