@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
p, label {
    font-family: 'Quicksand', sans-serif;

}
#timeCard {
    font-family: 'Quicksand', sans-serif;
}
.foot-contact, .foot-links, .nav-link , .form-control{
    font-family: 'Quicksand', sans-serif;
}