<div class="container-fluid mt-5">
  <div class="our-departments">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="our-departments-wrap">
            <h2>Our Departments</h2>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/cardiogram.png" alt="" />
                    <h3>Cardioology</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      Cardiology is a specialized field within the broader discipline of internal medicine. It deals with understanding, diagnosing, and managing various heart-related conditions.
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/stomach-2.png" alt="" />
                    <h3>Gastroenterology</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      Gastroenterology is a branch of medicine that deals with the health and diseases of the digestive system, also known as the gastrointestinal (GI) tract. 
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/blood-sample-2.png" alt="" />
                    <h3>Medical Lab</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      A medical laboratory is a vital component of the healthcare system, providing crucial diagnostic information to physicians, nurses, and other healthcare professionals.
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/teeth.png" alt="" />
                    <h3>Dental Care</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      Dental care is a vital aspect of overall health and wellness, focusing on the prevention, diagnosis, and treatment of conditions affecting the mouth and teeth.
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/stretcher.png" alt="" />
                    <h3>Surgery</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      Our Surgery Department is dedicated to providing expert surgical care using state-of-the-art techniques and technology. 
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/scanner.png" alt="" />
                    <h3>Neurology</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      Neurology is a specialized medical field dedicated for the study and treatment of disorders related to the nervous system. 
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-md-0">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/bones.png" alt="" />
                    <h3>Orthopaedy</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      Our team of skilled orthopaedic specialists diagnoses and treats a wide range of conditions that affect the bones
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-lg-0">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/blood-donation-2.png" alt="" />
                    <h3>Pediatry</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      Pediatrics is a specialized branch of medicine dedicated to the unique healthcare needs of  children and adolescents. 
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-0">
                <div class="our-departments-cont">
                  <header
                    class="entry-header d-flex flex-wrap align-items-center"
                  >
                    <img src="../../../assets/images/glasses.png" alt="" />
                    <h3>Ophthalmology</h3>
                  </header>
                  <div class="entry-content">
                    <p>
                      Our team of skilled ophthalmologists specializes in the diagnosis and treatment of a wide range of eye conditions, from common refractive errors.
                    </p>
                  </div>
                  <footer class="entry-footer">
                    <a href="#">read more</a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
